@page
@model WebApplication4.Pages.Usuarios.CadastrarModel
@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<form>
    <input type="text" name="usuario.Nome" value="@Model.usuario.Nome"/><br />
    <input type="password" name="usuario.Senha" /><br />
    <button>Enviar</button>
</form>