@page
@model WebApplication4.Pages.Usuarios.CadastrarModel
@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<form>
    <div class="form-group">
        <label for="usuario.Nome">Nome</label>
        <input type="text" name="usuario.Nome" value="@Model.usuario.Nome" class="form-control" placeholder="Nome" />
        <label for="usuario.Senha">Senha</label>
        <input type="password" name="usuario.Senha" class="form-control" placeholder="Senha" />
        <button class="btn btn-primary">Enviar</button>
    </div>
</form>